In [3]:
from platform import python_version
print(python_version())

3.7.2

In [4]:
import pandas as pd

In [6]:
notes_df = pd.read_clipboard()
notes_df.head()

        Note  Frequency (Hz)  Wavelength (cm)
0         C0           16.35          2109.89
1   C#0/Db0            17.32          1991.47
2         D0           18.35          1879.69
3   D#0/Eb0            19.45          1774.20
4         E0           20.60          1674.62

In [7]:
notes_df.tail()

          Note  Frequency (Hz)  Wavelength (cm)
103         G8         6271.93             5.50
104   G#8/Ab8          6644.88             5.19
105         A8         7040.00             4.90
106   A#8/Bb8          7458.62             4.63
107         B8         7902.13             4.37

In [8]:
notes_df.to_csv("note_frequency_mapping.csv")

In [9]:
test_file_60bpm = r"C:\Users\pwn394\Documents\Code\Sound-Processing-Project\Sound_Tests"